<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ca2af0b360.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/stylesheet/books.scss" />
    <title>Bookers1</title>
  </head>
  <body>
      <div style="color: green">
         <%= flash[:notice] %>
      </div>
        
      <p class="show-title"><strong>Title:</strong><%= @book.title %></p>
      
      <p class="show-body"><strong>Body:</strong><%= @book.body %></p>
      
      <p><%=link_to "Edit", edit_book_path(@book.id) %> | <a href="/books">Back</a></p>
  </body>
</html>