* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p {
  margin: 30px;
}

a {
  color: #666;
  text-decoration: underline;
}